<!DOCTYPE html>
<html>
  <head>
    <style>
      .first-container {
        margin: 50px 0px 50px 0px;
        padding: 20px 40px 20px 40px;
      }
      .button-container {
        margin: 20px 0px 20px 0px;
        padding: 10px 0px 10px 0px;
      }
    </style>
  </head>
  <body>
    <div class="first-container">
      <h4 align="center">비밀번호가 기억나지 않는군요?</h4>
      
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>
      
        <div class="field">
          <%= f.label :email, '이메일' %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      
        <div class="actions">
          <%= f.submit "비밀번호 새로 설정하게 메일 보내 줘!", class: "btn waves-effect waves-light col s12" %>
        </div>
      <% end %>
      <div class="button-container">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </body>
</html>
