
<div class="row">
  <div class="col s7" >
    <div id='calendar'></div>
    <script>
       $(document).ready(function(){
       $('#calendar').empty();
       $('#calendar').fullCalendar(
          {
            eventSources: [
      
              // your schedule source
              {
                  url: '/schedules.json',// use the `url` property
                  color: 'yellow',    // an option!
                  textColor: 'green'  // an option!
              }
              ]
                   // schedules: '/schedules.json'
                    // put your options and callbacks here
                });   
     });
    </script>
  </div>
  
  
  <div class="col s5">
    <h4>스튜핏 스케줄</h4><br><br>

  
  

     <h5><p>내가 찜한 대외 알리Go</p></h5>
      <table>
        <thead>
          <tr style="text-align: center;">
            <th colspan="1">일정</th>
            <th colspan="1">시작시점</th>
            <th>종료시점</th>
            <th></th>
          </tr>
        </thead>
      
        <% if @events.present? %>
          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td><%= event.title %></td>
                <td><%= truncate(event.start_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일"), :length => 15) %></td>
                <td><%= truncate(event.end_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일"), :length => 15) %></td>
                <td><%= link_to '자세히', event %></td>
                <td>
                <% if current_user.events.where(id: event.id).take != nil  %>
                  <%= link_to "/events/eventfollow_destroy/#{UserEvent.where(user: current_user, event: event).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
                <% else %>
                  <%= link_to "/events/eventfollow/#{event.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
                <% end %></td>
              </tr>
            <% end %>
          </tbody>
          <% else %>
          <!--주석-->
            <!--<p>There are no events containing the term(s) .</p>-->
          <%end%>
          </table>
          <ul class="pagination" align="center">
  <%= will_paginate @events, :param_name => 'event_page' %>
 <!--버튼-->
  </ul>      
<h5><p>나의 일정</p></h5>
  <table>
        <thead>
          <tr style="text-align: center;">
            <th colspan="1">일정</th>
            <th colspan="1">시작시점</th>
            <th>종료시점</th>
            <th></th>
          </tr>
        </thead>
  
        <% if @schedules.present? %>
          <tbody>
            <% @schedules.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.start_at %></td>
                <td><%= schedule.end_at %></td>
                <td><%= link_to '자세히', schedule %></td>
                <td><%= link_to '수정', edit_schedule_path(schedule) %></td>
                <td><%= link_to '삭제', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
          <% else %>
            <p> <%#= params[:search] %></p>
          <% end %>
      </table><br><br>

       <%= link_to '일정추가', new_schedule_path, class: 'waves-effect waves-light btn right' %>
     </button>
    <ul class="pagination" align="center">
  <%= will_paginate @schedules, :param_name => 'schedule_page' %>
 <!--버튼-->
  </ul>  
  </div>
</div>


