<p id="notice"><%= notice %></p>

<p>
  <strong>일정:</strong>
  <%= @schedule.title %>
</p>

<p>
  <strong>설명:</strong>
  <%= @schedule.content %>
</p>

<p>
  <strong>장소:</strong>
  <%= @schedule.place %>
</p>

<p>
  <strong>파일:</strong>
  <%= @schedule.file %>
</p>

<p>
  <strong>분류:</strong>
  <%= @schedule.event_type %>
</p>

<p>
  <strong>시작시점:</strong>
  <%= @schedule.start_at %>
</p>

<p>
  <strong>종료시점:</strong>
  <%= @schedule.end_at %>
</p>

<p>
  <strong>대학:</strong>
  <%= @schedule.university_id %>
</p>
<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
