<p id="notice"><%= notice %></p>

<p>
  <strong>일정:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>설명:</strong>
  <%= @event.content %>
</p>

<p>
  <strong>장소:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>파일:</strong>
  <%= @event.file %>
</p>

<p>
  <strong>분류:</strong>
  <%= @event.event_type %>
</p>

<p>
  <strong>시작시점:</strong>
  <%= @event.start_at %>
</p>

<p>
  <strong>종료시점:</strong>
  <%= @event.end_at %>
</p>

<p>
  <strong>대학:</strong>
  <%= @event.university_id %>
</p>
<%= link_to 'Edit', edit_schedule_path(@event) %> |
<%= link_to 'Back', schedules_path %>
