<div id="facets">
  <h3>검색결과</h3>
  <ul>
    <% for row in @search.facet(:start_month).rows %>
      <li>
        <% if params[:month].blank? %>
          <%= link_to row.value, :month => row.value %> (<%= row.count %>)
        <% else %>
          <strong><%= row.value %></strong> (<%= link_to "remove", :month => nil %>)
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
  <div class="col s5">

  
  

     
      <table>
        <thead>
          <tr style="text-align: center;">
            <th colspan="1">이름</th>
            <th colspan="1">내용</th>
            <th>시간</th>
            <th></th>
          </tr>
        </thead>
      
        <% if @events.present? %>
          <tbody>
            <% @events.each do |article| %>
              <tr>
                <td><%= article.title %></td>
                <td><%= article.content %></td>
                <td><%= article.start_at %></td>
                <td><%= link_to '자세히', article %></td>
              </tr>
            <% end %>
          </tbody>
          <% else %>
            <p>There are no articles.</p>
          <%end%>
      
        </table>
  </div>
</div>


