<div class="card" id="search_result">

<table>
        <thead>
          <tr style="text-align: center;">
            <th colspan="1">일정</th>
            <th colspan="1">장소</th>
            <th colspan="1">분류</th>
            <th colspan="1">시작시점</th>
            <th colspan="1">종료시점</th>
          </tr>
        </thead>
        <% if @schedules_search.present? %>
          <tbody>
            <% @schedules_search.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.place %></td>
                <td><%= schedule.event_type %></td>
                <td><%= schedule.start_at %></td>
                <td><%= schedule.end_at %></td>
                <td><%= link_to '자세히', schedule %></td>
                <td><%= link_to '수정', edit_schedule_path(schedule) %></td>
                <td><%= link_to '삭제', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
          <% else %>
            <p>There are no schedules containing the term(s) <%= params[:search] %>.</p>
          <% end %>
          <% if @events_search.present? %>
          <tbody>
            <% @events_search.each do |schedule| %>
              <tr>
                <td><%= schedule.title %></td>
                <td><%= schedule.place %></td>
                <td><%= schedule.event_type %></td>
                <td><%= schedule.start_at %></td>
                <td><%= schedule.end_at %></td>
                <td><%= link_to '자세히', schedule %></td>
                <td><%= link_to '수정', edit_schedule_path(schedule) %></td>
                <td><%= link_to '삭제', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
          <% else %>
            <p>There are no events containing the term(s) <%= params[:search] %>.</p>
          <% end %>
</table>
    <% if @events_search.present? %>
        <% @universities_search.each do |univ| %>
          <div class="col s3 m3">
            <div class="card">
              <div class="card-image">
                <% if current_user.universities.where(id: univ.id).take != nil  %>
                  <%= link_to "/universities/univ_destroy/#{UnivFollow.where(user: current_user, university: univ).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
                <% else %>
                  <%= link_to "/universities/univ/#{univ.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
                <% end %>
              <%= link_to university_path(univ) do %>
                <%= image_tag "#{univ.img}" %>
                <span class="card-title"><%= univ.name %></span>
              </div>
                <div class="card-content">
                  <p><%= univ.content %></p>
                </div>
                <div class="card-action">
                  <%= link_to "홈페이지", "http://#{univ.link_url}" %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
    <%else%>
        <p>There are no universities containing the term(s) <%= params[:search] %>.</p>
    <% end %>


</div>