<h5 class="center">정보게시판 목록</h5>
<!--검색바-->
   <div id="search" class="nav-wrapper" >
       <div class="container input-field">
             <%= form_tag events_path, :method => 'get' do %>
             <%= hidden_field_tag :direction, params[:direction]%>
             <%= hidden_field_tag :sort, params[:sort]%>  

               <%= text_field_tag :search, params[:search]%>
               <%= submit_tag "Search", :content => nil %>
             <%end%>
             </p>
       </div>
   </div>

<!--게시판 리스트-->
<div class="mdl-cell mdl-cell--12-col">
<table class="mdl-data-table mdl-js-data-table" style="width: 100%;">
<thead>
   <tr>
     <th colspan="10" class="mdl-data-table__cell--non-numeric"><%= sortable "title", "제목"%></th>
     <th class="mdl-data-table__cell--non-numeric"><%= sortable "content", "내용"%></th>
     <th class="mdl-data-table__cell--non-numeric"><%= sortable "created_at", "작성일"%></th>
     <th class="mdl-data-table__cell--non-numeric">조회수</th>
   </tr>
 </thead>

 <tbody>
   <% @events.each do |event| %>

       <tr>
       <td><%= link_to event.title, event_path(event) %></td>
       <td><%= link_to "#{truncate(event.content, :length => 30, :separator=>' ')}", event_path(event) %></td>
       <td><%= truncate(event.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초"), :length => 14, :separator=>' ')%></td>
       <td><%= event.impressions.count %> </td> <!--조회수 event.impressionist -->

       <td>
        <% if current_user.events.where(id: event.id).take != nil  %>
          <%= link_to "/events/eventfollow_destroy/#{UserEvent.where(user: current_user, event: event).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
        <% else %>
          <%= link_to "/events/eventfollow/#{event.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
        <% end %></td>

       </tr>

   <% end %>
 </tbody>
</table>
<%= will_paginate @events %>
</div>

<%= link_to "새글쓰기", new_event_path , :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :style=>"float: right;"%>
<!--페이지 넘기기-->

