<<<<<<< HEAD

<div class="row">
 
  <div class="col s3">
       <!--왼쪽 메뉴바 -->
  </div>
  
  <div class="col s9">


=======

>>>>>>> fccf2785badd7eda56322ae450e2c962be04cedb
<h5>정보게시판 목록</h5>
</br>
<table>
<thead>
   <tr>
     <th>제목</th>
     <th>내용</th>
     <th>작성일</th>
     <td>조회수</td>
   </tr>
 </thead>

 <tbody>
   <% @events.each do |event| %>

       <tr>
       <td><%= link_to event.title, event_path(event) %></td>
       <td><%= link_to "#{truncate(event.content, :length => 30, :separator=>' ')}", event_path(event) %></td>
       <td><%= truncate(event.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일 %H시%M분%S초"), :length => 14, :separator=>' ')%></td>
<<<<<<< HEAD

       <td><%= "3" %> </td> <!--조회수 event.impressionist -->

=======
>>>>>>> fccf2785badd7eda56322ae450e2c962be04cedb
       <td><%= "3" %></td>
       <td>
        <% if current_user.events.where(id: event.id).take != nil  %>
          <%= link_to "/events/eventfollow_destroy/#{UserEvent.where(user: current_user, event: event).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
        <% else %>
          <%= link_to "/events/eventfollow/#{event.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
        <% end %></td>
<<<<<<< HEAD

=======
>>>>>>> fccf2785badd7eda56322ae450e2c962be04cedb
       </tr>

   <% end %>
 </tbody>
</table>
<br>
<%= link_to "새 글쓰기", new_event_path ,class: 'waves-effect waves-light btn' %>
<br>

<%= will_paginate @events %>
