    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch" >
<h4>정보게시판</h4>
</div>

    <!--제목부분-->
    <div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch" >
    <h5> 제목 | <%= @event.title %> </h5>
    <h6> 작성일 :  <%= @event.created_at.in_time_zone("Asia/Seoul").strftime("%Y. %m. %d.    %H : %M") %> </h6>
    <h6> 조회수 : <%=@event.impressions.count%></h6>

    <!--내용부분-->
    
    <br><p><%= @event.content %></p><br>
    <%= image_tag "#{@event.image}" %><br>
    <!--그 외 정보-->
    
    장소 : <%= @event.place %><br>
    분류 : <%= @event.event_type %><br>
    일정 : <%= @event.start_at.in_time_zone("Asia/Seoul").strftime("%Y. %m. %d.  %H : %M") %>
     ~  <%= @event.end_at.in_time_zone("Asia/Seoul").strftime("%Y. %m. %d.  %H : %M") %><br>
    첨부파일 <br><%= @event.file %>


   
   <h5>관련 태그</h5>
   <p>
   <% @event.hash_tags.each do |hash| %>
   <span class="mdl-chip">
    <span class="mdl-chip__text"><%= link_to "#{hash.name}", hash_tag_path(hash) %></span>
</span>

   <% end %>
   </p>
</div>


   <!--버튼 기능-->

<div class="mdl-cell mdl-cell--6-col-tablet mdl-cell--10-col-desktop mdl-cell--stretch" >
   <%= link_to "삭제", event_path(@event), method: "delete",:class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :style=>"float: right;"%>
   <%= link_to "수정", edit_event_path(@event),:class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :style=>"float: right;"%>
   <%= link_to "목록", events_path, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :style=>"float: right;" %>
   <%= link_to '새 글쓰기', new_event_path ,:class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored", :style=>"float: right;" %>
</div>
   <% @event.comments.each do |comment| %>
     <h4>
     <%= comment.user.name %>
     <%= comment.content %>
     <%= link_to "댓글삭제", comment_path(comment), method: :delete %>
     </h4>
   <% end %>

   <%= render partial: 'comments/new', locals: { :comment => @event.comments.new , event: @event.id, belong: "event"} %>
