<%= form_for(@major_story) do |f| %>
  <% if @major_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@major_story.errors.count, "error") %> prohibited this major_story from being saved:</h2>

      <ul>
      <% @major_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="3">
    <%= f.label :title,"인터뷰이의 학교이름"  %><br>
    <%= f.text_field :title %> <!-- 인터뷰 제목 -->
  </div>
  <div class="field">
    <%= f.label :content, "인터뷰이 학과이름" %><br>
    <%= f.text_field :content %> <!-- 학교이름 -->
  </div>
  <div class="field">
    <%= f.label :place, "인터뷰이의 학년" %><br>
    <%= f.text_field :place %><!-- 학과 이름 -->
  </div>
  <div>
    <%= f.label :body, "인터뷰 내용" %>
    <%= f.cktext_area :body, rows: 10 %><!-- 인터뷰 내용 -->
  </div>
  <div class="field">
    <%= f.label :major_type, "인터뷰이 이름" %><br>
    <%= f.text_field :major_type %><!-- 이름 -->
  </div>
  <div class="field">
    <%= f.label :file, "썸네일 이미지" %><br>
    <%= f.file_field :file %><!-- 이미지 -->
  </div>
  <div class="field">
    <%= f.label :university %><br>
    <%= f.text_field :university %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
