<%= form_for(@major_story) do |f| %>
  <% if @major_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@major_story.errors.count, "error") %> prohibited this major_story from being saved:</h2>

      <ul>
      <% @major_story.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" col="3">
    <%= f.label :title,"인터뷰 제목"  %><br>
    <%= f.text_field :title %> <!-- 인터뷰 제목 -->
  </div>
  <div>
    <%= f.label :body, "인터뷰 내용" %>
    <%= f.cktext_area :body, rows: 10 %><!-- 인터뷰 내용 -->
  </div>
  <div class="field">
    <%= f.label :content, "인터뷰이 학교" %><br>
    <%= f.text_area :content %> <!-- 학교이름 -->
  </div>
  <div class="field">
    <%= f.label :place, "인터뷰이 학과" %><br>
    <%= f.text_field :place %><!-- 학과 이름 -->
  </div>
  <div class="field">
    <%= f.label :file, "인터뷰이 학년 및 이름" %><br>
    <%= f.text_field :file %><!-- 학년 및 이름 -->
  </div>
  <div class="field">
    <%= f.label :major_type, "썸네일 이미지 이름" %><br>
    <%= f.file_field :major_type %><!-- 썸네일 이미지 -->
  </div>

  <div class="field">
    <%= f.label :university %><br>
    <%= f.text_field :university %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

