<p id="notice"><%= notice %></p>

<h1>전공 스토리</h1>

<%= form_tag activities_path, :method => 'get', :id => "activities_search", :style=>"margin-top:50px" do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>  
  <p>
    <%= text_field_tag :search, params[:search], :placeholder=>"검색어를 입력하세요" %>
    
    <a class="waves-effect waves-light btn"><%= submit_tag "검색", :content => nil%></a>
  
  </p>
<% end %>
<div class="row">
<% @major_stories.each do |major_story| %>
  <div class="col s3 m3">
    <div class="card">
      <div class="card-image">
      <%= link_to major_story_path(major_story) do %>
        <img src="https://snupsy.sona-systems.com/custom/customlogo.png" >
        <span class="card-title"><%= major_story.content %></span>
      </div>
        <div class="card-content">
          <p><%= major_story.content %></p><br><%= major_story.place %>
        </div>
        <div class="card-action">
          <%= link_to "자세히 보기", major_story %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>






<table>
  <thead>
    <tr>
      <th>일정</th>
      <th>설명</th>
      <th>장소</th>
      <th>첨부파일</th>
      <th>분류</th>
      <th>대학</th>
      <th colspan="3"></th>
    </tr>
  </thead>


    <tbody>
      <% @major_stories.each do |major_story| %>
        <tr>
          <td><%= major_story.title %></td>
          <td><%= major_story.content %></td>
          <td><%= major_story.place %></td>
          <td><%= major_story.file %></td>
          <td><%= major_story.major_type %></td>
          <td><%= major_story.university_id %></td>
          <td><%= link_to '자세히', major_story %></td>
          <td><%= link_to '수정', edit_major_story_path(major_story) %></td>
          <td><%= link_to '삭제', major_story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
</table>
<%= will_paginate @major_stories%>
<br>

<%= link_to '전공추가', new_major_story_path %>

