
<h1>전공 스토리</h1>



<!-- Square card -->


<div class="row">
<% @major_stories.each do |major_story| %>
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
      <%= link_to major_story_path(major_story) do %>
          <%= image_tag "#{major_story.file}" , height: '300', width: '400' %>
        <span class="card-title"><%= major_story.content %></span>
      </div>
        <div class="card-content">
          <p><%= major_story.content %></p><br><%= major_story.place %>
        </div>
        <div class="card-action">
          <%= link_to "자세히 보기", major_story %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<br>
<div class ="col s3 m3", margin-top : 50px>
  <%= link_to '전공추가', new_major_story_path %>
</div>
<div class = "col s6 m6">
</div>
<%= will_paginate @major_stories %>
<!--search -->
<div class = "col s3 m3">


<%= form_tag major_stories_path, :method => 'get', :id => "activities_search", :style=>"margin-top:50px" do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder=>"검색어를 입력하세요" %>
  <div><%= submit_tag "검색", :content => nil, class: 'waves-effect waves-light btn' %>
  </div>



  </p>
<% end %>
