<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>

    </style>
  </head>
  <body>
    <div class="jaycontainer">
      <h5 class="center">전공 스토리</h5>
      
      <!-- Square card -->
      <br>
      <div class="row">
      <% @major_stories.each do |major_story| %>
        <div class="col s3 m3 l3">
          <div class="card">
            <div class="card-image">
            <%= link_to major_story_path(major_story) do %>
                <%= image_tag "#{major_story.file}", :size => '250x250' %>
            </div>
            <div class="card-content">
              <p align="center"><%= major_story.univ %></p>
              <p align="center"><strong><%= major_story.major %></strong></p>
            </div>
            <div class="card-action">
              <!-- like function -->
              <% if user_signed_in? %>
                <% if current_user.is_major_like?(major_story) %>
                  <%= link_to major_story_major_story_like_path(major_story), method: "post" do %><%= image_tag "#{asset_path "heart.png"}", alt: "blog-img"%><%end%>
                <% else %>
                  <%= link_to major_story_major_story_like_path(major_story), method: "post" do %><%= image_tag "#{asset_path "heart_empty.png"}", alt: "blog-img"%><%end%>
                <% end %>
                <%= major_story.major_story_likes.size %>
              <% else %>
                <%= image_tag "#{asset_path "heart_empty.png"}" %>
                <%= major_story.major_story_likes.size %>
              <%end%>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
      </div><br>
      
      <!-- 전공추가 버튼-->
      <div align="right" style="margin-top:10px; margin-bottom:20px;">
        <%= link_to '전공추가', new_major_story_path, class: 'jaybutton z-depth-1 hoverable' %>
      </div><br>
      
      <!--Pagination -->
      <div class="row" align="center">
        <div class="col s4 offset-s4">
          <div class="digg_pagination">
            <%= will_paginate @major_stories, previous_lable: "이전", next_lable: "다음", :container => false %>
          </div>
        </div>
      </div>
      
      <!--옛날 pagination
      <div align="center">
        <div class="digg_pagination">
          <#%= will_paginate @major_stories, previous_lable: "이전", next_lable: "다음", :container => false %>
        </div>
      </div>-->
    </div>

  </body>
</html>
