
<h1>전공 스토리</h1>



<!-- Square card -->

<div class = "row">
  <div class = "mdl-grid">
    <%= @major_stories.each do |major_story| %>
      <div class="mdl-cell mdl-cell--4-col">

        <div class="demo-card-square mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <%= image_tag "#{major_story.major_type}" %>
            <img src = "stufit_thumbnail.png", size height="150px" >
          </div>
          <div class="mdl-card__supporting-text">
            <p><%= major_story.content %></p><br>
            <%= major_story.place %> <%= major_story.file %>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
              <%= link_to "인터뷰 보러가기", major_story %><br>
            </a>
              <%= link_to '수정', edit_major_story_path(major_story) %>
              <%= link_to '삭제', major_story, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
<br>
<div class ="mdl-cell mdl-cell--3-col", margin-top : 50px>
  <%= link_to '전공추가', new_major_story_path %>
</div>
<div class = "mdl-cell mdl-cell--6-col">
</div>

<!--search -->
<div class = "mdl-cell mdl-cell--3-col">


<%= form_tag major_stories_path, :method => 'get', :id => "activities_search", :style=>"margin-top:50px" do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>
  <p>
    <%= text_field_tag :search, params[:search], :placeholder=>"검색어를 입력하세요" %>
  <div class="mdl-cell mdl-cell--12-col"><%= submit_tag "검색", :content => nil, :class=>"mdl-button mdl-js-button mdl-button--raised mdl-button--colored"%>

</div>



  </p>
<% end %>