<p id="notice"><%= notice %></p>

<h3><%= @major_story.title.html_safe %></h3>


<p><%= @major_story.body.html_safe %></p>





<%= link_to 'Edit', edit_major_story_path(@major_story) %> |
<%= link_to 'Back', major_stories_path %>


<img src = "http://postfiles10.naver.net/20160828_73/musiclace_1472389667743BQLIi_PNG/KakaoTalk_20160828_215736740.png?type=w3" >
  <p class="z-depth-1 card-panel #ffcdd2 red lighten-4"><strong>Q1.</strong> <%= major_story.학교이름 %> <%= major_story.학과 %>에 대해 설명해줘</p>
</div>
        <div class="row">
          <%= major_story.1번 %>
        </div>
<div class="col s12 m2">
  <p class="z-depth-1 card-panel #ffcdd2 red lighten-4" style="margin-top:80px; margin-bottom:50px;"><strong>Q2.</strong> 학년 별로 배우는 내용에 대해 설명해줘</p>
</div>
        <div class="row">
          <div class="col s2">
              <table class="centered">
                <tbody>
                  <tr>
                      <td data-field="id">1학년 :</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col s10">
              <table>
                <tbody>
                  <tr>
                      <td data-field="id"><%= major_story.2번문항-1학년 %></td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>


        <div class="row">
          <div class="col s2">
              <table class="centered">
                <tbody>
                  <tr>
                      <td data-field="id">2학년 :</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col s10">
              <table>
                <tbody>
                  <tr>
                      <td data-field="id"><%= major_story.2번문항-2학년 %></td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div class="row">
          <div class="col s2">
              <table class="centered">
                <tbody>
                  <tr>
                      <td data-field="id">3학년 :</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col s10">
              <table>
                <tbody>
                  <tr>
                      <td data-field="id"><%= major_story.2번문항-3학년 %></td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>

        <div class="row">
          <div class="col s2">
              <table class="centered">
                <tbody>
                  <tr>
                      <td data-field="id">4학년 :</td>
                  </tr>
                </tbody>
              </table>
          </div>
          <div class="col s10">
              <table>
                <tbody>
                  <tr>
                      <td data-field="id"><%= major_story.2번문항-4학년 %></td></td>
                  </tr>
                </tbody>
              </table>
          </div>
        </div>
        <span class="blue-text text-darken-2">**전자란? 음전하를 가진, 질량이 아주 작은 입자로 모든 물질의 구성요소<br>**전자기학이란? 전기적 자기적 현상 전반에 대하여 연구하는 학문</span>

<p class="z-depth-1 card-panel #ffcdd2 red lighten-4"><strong>Q3.</strong> 현재 <%= major_story.학교이름 %> <%= major_story.학과 %>에 만족해?</p>
	<div class ="row">
		<p>-> <%= major_story.3번문항 %></p>
	</div>
<p class="z-depth-1 card-panel #ffcdd2 red lighten-4"><strong>Q4.</strong> 일반전형에 들어올 학생들을 위한 팁 좀 부탁해!</p>
	<div class = "row">
		<p>-><%= major_story.4번문항 %></p>
		<span class="blue-text text-darken-2">**면접상황 REPLAY : 나는 문제를 받았고, 2문제(총 소문제 12개)를 30분동안 앉아서 풀었고, 교수님방에 들어가서 교수님 두 분 앞에서 풀었던 답을 말하고 설명했어. 사실 소문제를 6개정도밖에 못풀고 들어갔는데 패기있게 교수님께 시간을 더 달라고 요청했어! 그래서 시간을 추가로 더 받고 힌트 달라고 요청했었어. 운좋게 추가시간이랑 힌트를 얻어서 모든 문제를 풀 수 있었고 합격했지ㅋㅋㅋ(그 때 내 인생에서 쓸 두뇌를 다 써서 대학와서 공부를 안했엌ㅋㅋㅋ<br>**생각나는 문제 : 3차원 포물선 도형 적분, 단면적 넓이 구하는 문제, 양자역학 무한포텐셜우물 해석하는 문제</span>
	</div>

<p class="z-depth-1 card-panel #ffcdd2 red lighten-4"><strong>Q5.</strong> 생각하고 있는 진로?</p>
	<div class = "row">
		<p>-> <%= major_story.5번문항 %></p>
	</div>

<p class="z-depth-1 card-panel #ffcdd2 red lighten-4"><strong>Q5.</strong> 스투핏 공식질문 : 절대 우리과에 오지 말아야할 사람은?</p>
	<div class = "row">
		<p>-> <%= major_story. 6번문항%></p>
	</div>
</div>
