
<h3><%= @major_story.title.html_safe %> <%= @major_story.content %></h3>
<h4><%= @major_story.place %> <%= @major_story.major_type %></h4>

<div class ="col s12 m12">
  <p><%= @major_story.body.html_safe %></p>
</div>



<%= link_to "삭제", major_story_path(@major_story), method: "delete" %>|
<%= link_to 'Edit', edit_major_story_path(@major_story) %> |
<%= link_to 'Back', major_stories_path %>
