<!DOCTYPE html>
<html>
  <head>
    <style>
      .inline-display {
        display: inline;
      }
      .question-num {
        /*position: absolute;
        left: 35px;
        top: 28px;*/
        font-size: 33px;
        color: #999;
        line-height: 30px;
        font-weight: bold;
      }
      .question {
        /*position: absolute;
        left: 35px;
        top: 28px;*/
        font-size: 21px;
        color: #999;
        line-height: 30px;
        font-weight: bold;
      }
      .question-margin {
        margin-bottom: 15px;
      }
      .answer {
        color: #7F7F7F;
      }
    </style>
  </head>
  <body>
    <div class="jaycontainer">
      <ul class="collection">
        <li class="collection-item avatar">

      <%= image_tag "#{@major_story.file}" , height: '150', width: '150', class:"inline-display"%>
      <div align="center" class="inline-display">
        <h5><strong><%= @major_story.univ.html_safe %> <%= @major_story.major %><br>
                    <%= @major_story.grade %> <%= @major_story.name %></strong></h5>
      </div>
      <div class="divider" style="margin: 40px 20px 40px 0px;"></div>
      
      <div class ="col s12 m12">
        <div class="question-margin">
          <p><span class="question-num">01.</span> <span class="question">학과에 대해서 자세히 설명해줘</span></p>
        </div>  
          <p class="answer"><%= @major_story.q1.html_safe %></p><br>
        <div class="question-margin">
          <p><span class="question-num">02.</span> <span class="question">학년별로 배우는 내용에 대해 간략하게 설명해줘</span></p>
        </div>
          <p class="answer"><%= @major_story.q2.html_safe %></p><br>
        <div class="question-margin">
          <p><span class="question-num">03.</span> <span class="question">학과에 만족해?</span></p>
        </div>
          <p class="answer"><%= @major_story.q3.html_safe %></p><br>
        <div class="question-margin">
          <p><span class="question-num">04-1.</span> <span class="question">대학생이 된 후 한 기억에 남는 활동은?</span></p>
          <p><span class="question-num">04-2.</span> <span class="question">해당 전형에 들어올 학생들을 위한 팁 좀 부탁해!</span></p>
        </div>
          <p class="answer"><%= @major_story.q4.html_safe %></p><br>
        <div class="question-margin">
          <p><span class="question-num">05.</span> <span class="question">생각하고 있는 진로?</span></p>
        </div>
          <p class="answer"><%= @major_story.q5.html_safe %></p><br>
        <div class="question-margin">
          <p><span class="question-num">06.</span> <span class="question">공식질문: 절대 우리 과에 오지 말아야 할 사람은?</span></p>
        </div>
          <p class="answer"><%= @major_story.q6.html_safe %></p><br>
      </div>
      </ul>
      </li>
      <%= link_to "목록", major_stories_path, class: 'jaybutton z-depth-1 hoverable' %>
      
      <%if @major_story.updatable_by? current_user%>
      <%= link_to "수정", edit_major_story_path(@major_story), class: 'jaybutton z-depth-1 hoverable' %> 
      <%end%>
      <%if @major_story.deletable_by? current_user%>
      <%= link_to "삭제", major_story_path(@major_story), method: "delete", class: 'jaybutton z-depth-1 hoverable', data: { confirm: 'Are you sure?' } if @major_story.deletable_by? current_user %>
      <%end%>
      <%= link_to '새 글쓰기', new_major_story_path ,class: 'jaybutton z-depth-1 hoverable' %>
      <ul class="collection">
            <li class="collection-item">
      <strong>댓글</strong>
      
         <% @major_story.comments.each do |comment| %>
      <li class="collection-item">
          <strong><%= comment.user.name %></strong><br>
           <%= comment.content %>
          <%if comment.updatable_by? current_user%>
          <div align="right"><%= link_to "수정", edit_comment_path(comment), class: 'jaybutton z-depth-1 hoverable' %></div>
          <%end%>
          <%if comment.deletable_by? current_user%>
           <div align="right"><%= link_to "삭제", comment_path(comment), method: :delete, class: 'jaybutton z-depth-1 hoverable' %></div>
         <% end %>
         <% end %>
      
         <%= render partial: 'comments/new', locals: { :comment => @major_story.comments.new , major_story: @major_story.id, belong: "major_story"} %>
      </li>
      </li>
      </ul>
    </div>
  </body>
</html>