<p id="notice"><%= notice %></p>

<h3><%= @major_story.title.html_safe %></h3>


<p>
  <strong>짧은설명:</strong>
  <%= @major_story.content %>
</p>

<p>
  <strong>장소:</strong>
  <%= @major_story.place %>
</p>

<p>
  <strong>파일:</strong>
  <%= @major_story.file %>
</p>

<p>
  <strong>분류:</strong>
  <%= @major_story.major_type %>
</p>

<p>
  <strong>대학:</strong>
  <%= @major_story.university_id %>
</p>



<p><%= @major_story.body.html_safe %></p>

<%= link_to 'Edit', edit_major_story_path(@major_story) %> |
<%= link_to 'Back', major_stories_path %>
