  <%= f.radio_button :frontable_id, 1%>

  <div class="field" col="20">
    <%Frontobject.uniq.pluck(:frontable_type).each do |objtype|%>
    <!--%Frontobject.columns.find_all { |column| ['frontable_type'].include? column.name }.each do |objtype|%-->
      <%= objtype %> 또는<br />
    <% end %>
    또는, For new frontable_type you want to add
    <%= f.text_area :frontable_type %>
  </div>
  <div class="field">
    <%= f.label :image, "썸네일이미지" %><br>
    <%= f.file_field :image %><!-- 이미지 -->
  </div>
  <div class="field">
    <%= f.label :link_url %><br>
    <%= f.text_field :link_url, placeholder: '연결게시물url에서 www.stufit.co.kr뒤의 events/1 또는 major_stories/1 만 기입' %>
  </div>
  <div class="actions">
    <%= f.submit "올리기", class:"btn waves-effect waves-light" %>
  </div>
