<div id="login-page" class="row">
  <div class="col s12 z-depth-4 card-panel">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "login-form") do |f| %>
      <div class="row">
        <div class="input-field col s12 center">
          <%= image_tag "#{asset_path "http://i.imgur.com/KZFqXNw.png"}" %>
          <p class="center login-form-text">   온라인에서 시작하는 입시관리 stu-fit  </p>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-social-person-outline prefix"></i>
          <%= f.email_field :email, autofocus: true , id: "username"%>
          <%= f.label :email, class:"center-align" %>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="mdi-action-lock-outline prefix"></i>
          <%= f.password_field :password, autocomplete: "off" ,id: "password"%>
          <%= f.label :password %>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me,id:"remember-me" %>
            <%= f.label :remember_me %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <%= f.submit "Log in", class: "btn waves-effect waves-light col s12"%>
        </div>
      </div>
      <%= render "devise/shared/links" %>

      <div class="row">
        <div class="input-field col s6 m6 l6">
          <p class="margin medium-small"><a href="page-register.html">Register Now!</a></p>
        </div>
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a href="page-forgot-password.html">Forgot password ?</a></p>
        </div>          
      </div>

    <% end %>
  </div>
</div>

<script charset="utf-8">
  $(function(){
    setTimeout(function() {
      $('body').addClass('cyan');      
    }, 50);
  });
</script>
