<h5 class="center">컨설트</h5>

<!--search -->

<div class="container">
  <%= form_tag consults_path, :method => 'get', :id => "consults_search", :style=>"margin-top:50px" do %>
    <%= hidden_field_tag :direction, params[:direction]%>
    <%= hidden_field_tag :sort, params[:sort]%>
    <p>
      <%= text_field_tag :search, params[:search], placeholder: "검색어를 입력하세요" %>
      <div><%= submit_tag "검색", :content => nil, class: 'waves-effect waves-light btn blue' %></div>
    </p>
  <% end %>
</div>



<!-- Square card -->

<div class="row">
  <% @consults.each do |consult| %>
    <div class="col s3 m3 l3">
      <div class="card">
        <div class="card-image">
        <%= link_to consult_path(consult) do %>
          <%if consult.image.nil?%>
            <%= image_tag "stufit_thumnail.png", :size => '250x250'%>
          <%else%>
            <%= image_tag "#{consult.image}", :size => '250x250' %>
          <%end%>
        </div>
          <div class="card-content">
            <p><%= consult.title %></p>
            <p><strong><%= consult.user.name %></strong></p>
          </div>
          
        <% end %>
      </div>
    </div>
  <% end %>
</div><br>

<!-- 전공추가 버튼-->
<div align="right" style="margin-top:10px; margin-bottom:20px;">
  <%= link_to '컨설트추가', new_consult_path, class: 'waves-effect waves-light btn blue' %>
</div><br>

<!--Pagination -->
<div class="digg_pagination" align="center">
  <%= will_paginate @consults, previous_lable: "이전", next_lable: "다음", :container => false %>
</div>
