<div class="progress">
  <div class="determinate" style="width: 70%"></div>
</div>

<h5>제목 | <%= @consult.title %></h5>
<h6>내용 | <%= @consult.content %></h6>
<%= image_tag "#{@consult.image}" , height: '300', width: '400' %>
</div>
<%= link_to "목록", consults_path, class: 'waves-effect waves-light btn' %>

<%if @consult.updatable_by? current_user%>
<%= link_to "수정", edit_consult_path(@consult), class: 'waves-effect waves-light btn' %> 
<%end%>
<%= link_to "삭제", consult_path(@consult), method: "delete", class: 'waves-effect waves-light btn', data: { confirm: 'Are you sure?' } if @consult.deletable_by? current_user %>

<%= link_to '새 글쓰기', new_consult_path ,class: 'waves-effect waves-light btn' %>
<ul class="collection">
      <li class="collection-item">
<strong>댓글</strong>

   <% @consult.comments.each do |comment| %>
<li class="collection-item">
    <strong><%= comment.user.name %></strong><br>
     <%= comment.content %>
     <div align="right"><%= link_to "삭제", comment_path(comment), method: :delete, class: 'waves-effect waves-light btn' %></div>
   <% end %>

   <%= render partial: 'comments/new', locals: { :comment => @consult.comments.new , consult: @consult.id, belong: "consult"} %>
</li>
</li>
</ul>

