<div class="field">
<%= f.label :hash_activities, 'hash_activities', :class=>"mdl-textfield__input", :for=>"sample1" %>
<%= f.select :hash_activities, options_for_select(HashTag.all.collect{ |u| [u.name,u.id] }, :class=>"mdl-textfield__input", :type=>"text", :id=>"sample1"  ),{},{ :multiple => true}%>
</div>
 
<div class="field"> 
  <%= f.label :activity_type, '교내/교외'%>
<%= f.select(:activity_type, ['교내', '교외'], {} ) %>
</div>

<div class="field">
      <%= f.label :style, '분류'%>
      <%= f.text_field :style%>
</div>
<div class="field">
      <%= f.label :title, '제목'%>
      <%= f.text_field :title  %>
</div>
<div class="field">
      <%= f.label :content, '내용'%>
      <%= f.text_field :content %>
</div>
<div class="field">
      <%= f.label :host_name, '주관기관'%>
      <%= f.text_field :host_name %>
</div>
<div class="field">
      <%= f.label :issuednumber, '발급번호'%>
      <%= f.text_field :issuednumber%>
</div>
<div class="field">
      <%= f.label :grade, '급수'%>
      <%= f.text_field :grade%>    
</div>

<div class="field">    
<%= f.label :date, '시작일'%>
<%= f.date_field :start_at %>
</div>
<div class="field">
<%= f.label :date, '종료일'%>
<%= f.date_field :end_at %>
</div>
<div class="field">
<%= f.label :image, '이미지'%>
<%= f.file_field :image %>
</div><br>

<%=f.submit "올리기", class:"btn waves-effect waves-light" %>

