<head>
    <style>
      table{

    table-layout: fixed;
    
}

th, td {

    
    
}

    </style>
</head>
<table class="centered highlight" >
      <thead>
        <tr>
          <th data-field="id"><%= f.label :activity_type, '교내/교외'%></th>
          <th data-field="name"><%= f.label :style, '분류'%></th>
          <th data-field="price"><%= f.label :title, '제목'%></th>
          <th data-field="price"><%= f.label :content, '내용'%></th>
          <th data-field="price"><%= f.label :host_name, '주관기관'%></th>
          <th data-field="name"><%= f.label :issuednumber, '발급번호'%></th>
          <th data-field="price"><%= f.label :grade, '급수'%></th>
          </tr>
      </thead>

      <tbody>
        <tr>
<td width="7%"><%= f.select(:activity_type, ['교내', '교외'], {} ) %></td>
<td width="10%"><%= f.text_field :style%></td>
<td width="10%"><%= f.text_field :title  %></td>
<td width="13%"><%= f.text_field :content %></td>
<td width="10%"><%= f.text_field :host_name %></td>
<td width="10%"><%= f.text_field :issuednumber%></td>
<td width="10%"><%= f.text_field :grade%></td>
</tr>
</tbody>
<thead>
  <tr>
          <th data-field="price"><%= f.label :date, '시작일'%></th>
          <th data-field="price"><%= f.label :date, '종료일'%></th>
          <th data-field="price"><%= f.label :image, '이미지'%></th>
        
        </tr>
      </thead>
<tbody>
<tr><td width="10%"><%= f.date_field :start_at %></td>
<td width="10%"><%= f.date_field :end_at %></td>
<td width="10%"><%= f.file_field :image %></td></tr>
</tbody>
</table>
<%=f.submit "만들기", class:"btn waves-effect waves-light" %>

