<%= form_tag activities_path, :method => 'get', :id => "activities_search" do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>  
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :content => nil %>
  </p>
<% end %>


<head>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>

    
</script>
	
	
<style>
.table-wrapping {
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}
</style>
</head>

<div class="row" style="margin-top:100px">
<%= link_to "new", new_activity_path, class:"btn-floating red" %>
  <div class = "col s12 m12 l12 table-wrapping">
<table id="myTable" class="centered highlight responsive-table table-wrapping tablesorter"  >
      <thead>
        <tr>
                <th data-field="id"><%= sortable "activity_type", "교내/교외"%></th>
          <th data-field="name"><%= sortable "style", "분류"%></th>
          <th data-field="price"><%= sortable  "title",  "활동명"%></th>
          <th data-field="price"><%= sortable "content", "내용"%></th>
          <th data-field="name"><%= sortable"host_name",  "주관기관"%></th>
          <th data-field="price"><%= sortable "issuednumber",  "발급번호" %></th>
          <th data-field="price"><%= sortable "grade",  "급수" %></th>
          <th data-field="price"><%= sortable "start_at", "시작일" %></th>
          <th data-field="price"><%= sortable "end_at", "종료일" %></th>
          <th data-field="price">이미지</th>
          <th data-field="price"><%= sortable "impressions_count", "조회수" %></th>

          <th data-field="price" style="hidden" class="unsortable">수정</th>
          <th date-field="price" style="hidden" class="unsortable">삭제</th>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |a| %>
        <tr>
          <td><%=a.activity_type%></td>
          <td><%=a.style%></td>
          <td><%= link_to a.title, activity_path(a) %></td>
          <td><%=truncate(a.content, :length => 20, :separator=>' ')do link_to "see more...", activity_path(a) end%></td>
          <td><%=a.host_name%></td>
          <td><%=a.issuednumber%></td>
          <td><%=a.grade%></td>
          <td><%=a.start_at%></td>
          <td><%=a.end_at%></td>
          <td><a href='/activities/image/<%=a.id%>'>이미지</a></td>
          <td><%="#{a.impressions.count}"%></td>
          <td><button type="submit" ><%= link_to "수정", edit_activity_path(a) %></button></td>
          <td><button type="submit" ><%= link_to "삭제", activity_path(a), method: "delete" %></button></td>
        <%end%>
        </tr>
        </tbody>
        </table>
        
  <%= will_paginate @activities %>
  </div>
</div>  
</ul>
