<head>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
          

<script>

</script>

<style>

</style>
</head>
<%= link_to "새로만들기", new_activity_path %>
<div class="row">
<table id="table-demo" class="centered highlight">
      <thead>
        <tr>
          <th data-field="id">교내/교외</th>
          <th data-field="name">분류</th>
          <th data-field="price">활동명</th>
          <th data-field="price">내용</th>
          <th data-field="name">주관기관</th>
          <th data-field="price">발급번호</th>
          <th data-field="price">급수</th>
          <th data-field="price">시작일</th>
          <th data-field="price">종료일</th>
          <th data-field="price">이미지</th>
          <th data-field="price" style="hidden">수정</th>
          <th date-field="price" style="hidden">삭제</th>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |a| %>
        <tr>
          <td><%=a.activity_type%></td>
          <td><%=a.style%></td>
          <td><%= link_to a.title, activity_path(a) %></td>
          <td><%=truncate(a.content, :length => 20, :separator=>' ')do link_to "see more...", activity_path(a) end%></td>
          <td><%=a.host_name%></td>
          <td><%=a.issuednumber%></td>
          <td><%=a.grade%></td>
          <td><%=a.start_at%></td>
          <td><%=a.end_at%></td>
          <td><a href='/activities/image/<%=a.id%>'>이미지</a></td>

          <td><button type="submit" ><%= link_to "수정", edit_activity_path(a) %></button></td>
          <td><button type="submit" ><%= link_to "삭제", activity_path(a), method: "delete" %></button></td>
        <%end%>
        </tr>
        </tbody>
        </table>
        
  <%= will_paginate @activities %>
</div>  
</ul>