<%= form_tag activities_path, :method => 'get', :id => "activities_search", :style=>"margin-top:50px" do %>
  <%= hidden_field_tag :direction, params[:direction]%>
  <%= hidden_field_tag :sort, params[:sort]%>  
  <p>
    <%= text_field_tag :search, params[:search], :placeholder=>"'내용'에 해당하는 검색어를 입력하세요" %>
    <a class="waves-effect waves-light btn"><%= submit_tag "검색", :content => nil%></a>
  </p>
<% end %>


<head>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>

<script>

    
</script>
	<style>

table { 
        display:block;
        table-layout: fixed;
        overflow-x: auto;
    white-space:nowrap;
    }

  </style>

	

</head>

<div class="row col s12 m12 l12" style="margin-top:50px">
<%= link_to "new", new_activity_path, class:"btn-floating red"%>
<table class="centered highlight responsive-table table-wrapping" sytle="width: 100%;" >
      <thead>
        <tr>
                <th data-field="id"><%= sortable "activity_type", "교내/교외"%></th>
          <th data-field="name"><%= sortable "style", "분류"%></th>
          <th data-field="price"><%= sortable  "title",  "활동명"%></th>
          <th data-field="price"><%= sortable "content", "내용"%></th>
          <th data-field="name"><%= sortable"host_name",  "주관기관"%></th>
          <th data-field="price"><%= sortable "start_at", "시작일" %></th>
          <th data-field="price"><%= sortable "end_at", "종료일" %></th>
          
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |a| %>
        <tr>
          <td><%=a.activity_type%></td>
          <td><%=a.style%></td>
          <td><%= link_to a.title, activity_path(a) %></td>
          <td><%=truncate(a.content, :length => 20, :separator=>' ')do link_to "see more...", activity_path(a) end%></td>
          <td><%=a.host_name%></td>
          <td><%=a.start_at%></td>
          <td><%=a.end_at%></td>
        <%end%>
        </tr>
        </tbody>
        </table>
        
  <%= will_paginate @activities %>
  </div>
</div>  
</ul>
