<h5>활동내역</h5>

<head>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>
</head>

<div class="row ">
<div class="col s12">
<table class="col s12 bordered centered" style="width: 100%;">
      <thead>
        <tr>
          <th><%= sortable "activity_type", "교내/교외"%></th>
          <th><%= sortable "style", "분류"%></th>
          <th><%= sortable  "title",  "활동명"%></th>
          <th><%= sortable "content", "내용"%></th>
          <th><%= sortable"host_name",  "주관기관"%></th>
          <th><%= sortable "start_at", "시작일" %></th>
          <th><%= sortable "end_at", "종료일" %></th>
          <th>조회수</th>
        </tr>
      </thead>

      <tbody>
        <% @activities.each do |a| %>
        <tr>
          <td><%=a.activity_type%></td>
          <td><%=a.style%></td>
          <td><%= link_to a.title, activity_path(a) %></td>
          <td><%= link_to "#{truncate(a.content, :length => 10, :separator=>' ')}", activity_path(a)  %></td>
          <td><%=a.host_name%></td>
          <td><%=a.start_at%></td>
          <td><%=a.end_at%></td>
          <td><%="#{a.impressions.count}"%></td>
          
        <%end%>
        </tr>
        </tbody>
        </table>
        </br></br>
  <%= will_paginate @activities %>
   <!--버튼-->
<%= link_to "새글 쓰기", new_activity_path,class: 'waves-effect waves-light btn right'%></br></br>
  </div>
</div>  
</ul>
