<%= link_to "목록", activities_path, :class=>"waves-effect waves-light btn"%>
<div class="row" style="margin-top:30px">
  <table class="centered highlight">
    <thead>
      <tr>
        <th data-field="id">교내/교외</th>
        <th data-field="name">분류</th>  
        <th data-field="price">활동명</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle'><%=@activity.activity_type%></td>
        <td style='text-align:center; vertical-align:middle'><%=@activity.style%></td>
        <td style='text-align:center; vertical-align:middle'><%=@activity.title%></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th data-field="price">주관기관</th>
        <th data-field="id">발급번호</th>
        <th data-field="name">급수(점수)</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle'><%=@activity.host_name%></td>    
        <td style='text-align:center; vertical-align:middle'><%=@activity.issuednumber%></td>
        <td style='text-align:center; vertical-align:middle'><%=@activity.grade%></td>    
      </tr>
    </tbody>
    <thead>
      <tr>
        <th data-field="id">내용</th>  
        <th data-field="price">시작일</th>
        <th data-field="price">종료일</th>
      
      </tr>
    </thead>
    <tbody>
      <tr>  
        <td style='text-align:center; vertical-align:middle'><%=@activity.content%></td>
        <td style='text-align:center; vertical-align:middle'><%=@activity.start_at%></td>
        <td style='text-align:center; vertical-align:middle'><%=@activity.end_at%></td>
      </tr>          
    </tbody>

  </table>
</div>
<div class='row'>
  <table class="centered highlight responsive-table">
    <thead>
      <tr>
        <th>이미지</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle'><%= image_tag "camaro.jpg" %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
<%= link_to "수정", edit_activity_path(@activity), :class=>"waves-effect waves-light btn"%>
<%= link_to "삭제", activity_path(@activity), method: "delete", :class=>"waves-effect waves-light btn" %>
</div>
<h3>관련 태그</h3>
<p>
<% @activity.hash_tags.each do |hash| %>
  <div class="chip"> <%= link_to "#{hash.name}", hash_tag_path(hash) %> </div> &nbsp;
<% end %>
</p>

<!--<td style='text-align:center; vertical-align:middle'><a href='/activities/image/<%=@activity.id%>'>이미지</a></td>
--!>