<head>
 <style>
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

</style>
</head>

  <div>    
      <!--제목부분-->
      <br><h4> 활동명  |  <%=@activity.title%></h4>
      <h6>활동기간: <%=@activity.start_at%> ~ <%=@activity.end_at%></h6>
      
      
      
       <div class="progress">
          <div class="determinate" style="width: 70%"></div>
       </div>
      
      
      <!--이미지 부분-->
      
    <div class='row'>
        <thead>
          <tr>
            <th>이미지 에러</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style='text-align:center; vertical-align:middle'><%= image_tag "#{@activity.image}" %></td>
          </tr>
        </tbody>
    </div>
      
      
      
      <!--내용 부분-->
       <br><br><br><td style='text-align:center; vertical-align:middle'><%=@activity.content%></td><br><br><br><br>
      
   
       
       <!--기타정보-->
      <table>
          <thead>
            <tr>
              <th style='text-align:center; vertical-align:middle'>교내/교외</th>
              <th style='text-align:center; vertical-align:middle'>분류</th>
              <th style='text-align:center; vertical-align:middle'>주관기관</th>
              <th style='text-align:center; vertical-align:middle'>발급번호</th>
              <th style='text-align:center; vertical-align:middle'>급수(점수)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style='text-align:center; vertical-align:middle' ><%=@activity.activity_type%></td> 
              <td style='text-align:center; vertical-align:middle' ><%=@activity.style%></td> 
              <td style='text-align:center; vertical-align:middle' ><%=@activity.host_name%></td>    
              <td style='text-align:center; vertical-align:middle' ><%=@activity.issuednumber%></td>
              <td style='text-align:center; vertical-align:middle' ><%=@activity.grade%></td>    
            </tr>
          </tbody>
        </table>
      </div><br>


      <h5>관련 태그</h5>
      <p>
      <% @activity.hash_tags.each do |hash| %>
      <span class="mdl-chip">
          <span class="mdl-chip__text"><%= link_to "#{hash.name}", hash_tag_path(hash) %></span>
      </span>
      <% end %>
      </p>
      </div>
      
      <div class="progress">
        <div class="determinate" style="width: 70%"></div>
      </div>       
      
      
      <div>
      <%= link_to "삭제", activity_path(@activity), method: "delete", class: 'waves-effect waves-light btn' %>
      <%= link_to "수정", edit_activity_path(@activity), class: 'waves-effect waves-light btn' %>
      <%= link_to "목록", activities_path, class: 'waves-effect waves-light btn' %>
      </div>


<!--<td style='text-align:center; vertical-align:middle'><a href='/activities/image/<%=@activity.id%>'>이미지</a></td>
--!>