<table class="centered highlight">
      <thead>
        <tr>
          <th data-field="id">교내/교외</th>
          <th data-field="name">분류</th>
          <th data-field="price">활동명</th>
          <th data-field="id">내용</th>
          <th data-field="price">주관기관</th>
          <th data-field="id">발급번호</th>
          <th data-field="name">급수(점수)</th>
          <th data-field="price">시작일</th>
          <th data-field="price">종료일</th>
          <th data-field="price">이미지</th>
          <th data-field="price">수정</th>
          <th data-field="price">삭제</th>
        </tr>
      </thead>

      <tbody>

        <tr>
          <td><%=@activity.activity_type%></td>
          <td><%=@activity.style%></td>
          <td><%=@activity.title%></td>
          <td><%=@activity.content%></td>
          <td><%=@activity.host_name%></td>
          <td><%=@activity.issuednumber%></td>
          <td><%=@activity.grade%></td>
          <td><%=@activity.start_at%></td>
          <td><%=@activity.end_at%></td>
          <td><a href='/activities/image/<%=@activity.id%>'>이미지</a></td>
          <td><%= link_to "수정", edit_activity_path(@activity) %></td>
          <td><%= link_to "삭제", activity_path(@activity), method: "delete" %></td>
        </tr>
        </tbody>
        </table>
        <img src='<%= @activity.image_url%>'>