<head>
 <style>
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
</style>
</head>

<div class="row mdl-textfield mdl-js-textfield" style="margin-top:30px">
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th data-field="id" class="mdl-data-table__cell--non-numeric">교내/교외</th>
        <th data-field="name" class="mdl-data-table__cell--non-numeric">분류</th>  
        <th data-field="price" class="mdl-data-table__cell--non-numeric">활동명</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.activity_type%></td>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.style%></td>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.title%></td>
      </tr>
    </tbody>
    <thead>
      <tr>
        <th data-field="price" class="mdl-data-table__cell--non-numeric">주관기관</th>
        <th data-field="id" class="mdl-data-table__cell--non-numeric">발급번호</th>
        <th data-field="name" class="mdl-data-table__cell--non-numeric">급수(점수)</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.host_name%></td>    
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.issuednumber%></td>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.grade%></td>    
      </tr>
    </tbody>
    <thead>
      <tr>
        <th data-field="price" class="mdl-data-table__cell--non-numeric">시작일</th>
        <th data-field="price" class="mdl-data-table__cell--non-numeric">종료일</th>
      </tr>
    </thead>
    <tbody>
      <tr>  
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.start_at%></td>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.end_at%></td>
      </tr> 
    </tbody>

  </table>
</div>
<div class="row">
<table class="mdl-data-table mdl-js-data-table">
  <thead>
    <tr>
      <th data-field="id" class="mdl-data-table__cell--non-numeric">내용</th>  
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%=@activity.content%></td>
    </tr>
  </tbody>
</table>
</div>
<div class='row'>
  <table class="mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">이미지</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style='text-align:center; vertical-align:middle' class="mdl-data-table__cell--non-numeric"><%= image_tag "#{@activity.image}" %></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">

<%= link_to "삭제", activity_path(@activity), method: "delete", :class=>"waves-effect waves-light btn", :style=>"float: right;" %>
<%= link_to "수정", edit_activity_path(@activity), :class=>"waves-effect waves-light btn", :style=>"float: right;"%>
<%= link_to "목록", activities_path, :class=>"waves-effect waves-light btn", :style=>"float: right;"%>
</div>
<h3>관련 태그</h3>
<p>
<% @activity.hash_tags.each do |hash| %>
  <div class="chip"> <%= link_to "#{hash.name}", hash_tag_path(hash) %> </div> &nbsp;
<% end %>
</p>

<!--<td style='text-align:center; vertical-align:middle'><a href='/activities/image/<%=@activity.id%>'>이미지</a></td>
--!>