<div class="jaycontainer">
<h5 class="center">커뮤니티</h5>

<hr>

<head>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css"></script>
</head>

    <div class = "row">
      <div>
      <p align="right" style="margin-top:10px; margin-bottom:20px;">
        <%= link_to "새글 쓰기", new_community_path, class: 'jaybutton z-depth-1 hoverable' %>
      </p><br>
      </div>
      </div>

<div class="row">
<table class="bordered centered" style="width: 100%;">
      <thead>
        <tr>
          <th colspan="2">제목</th>
          <th colspan="2">작성일</th>
          <th>조회수</th>
          <th>좋아요</th>
          <th>작성자</th>

       
        </tr>
      </thead>

      <tbody>
        <% @communities.each do |c| %>
        <tr>
          <td colspan="2"><%= link_to "#{truncate(c.title, :length =>14, :separator=>' ')}", community_path(c) %></td>
          <td colspan="2"><%= truncate(c.created_at.in_time_zone("Asia/Seoul").strftime("%Y년%m월%d일"), :length => 14, :separator=>' ')%></td>
          <td colspan="1"><%= c.impressions.count %> </td> <!--조회수 event.impressionist -->
          <td width="10%">
          <!-- like function -->
          <% if user_signed_in? %>
            <% if current_user.is_community_like(c) %>
              <%= link_to community_community_like_path(c), method: "post" do %><%= image_tag "#{asset_path "heart.png"}", alt: "blog-img"%><%end%>
            <% else %>
              <%= link_to community_community_like_path(c), method: "post" do %><%= image_tag "#{asset_path "heart_empty.png"}", alt: "blog-img"%><%end%>
            <% end %>
            <%= c.community_likes.size %>
          <% else %>
            <%= image_tag "#{asset_path "heart.png"}" %>
            <%= c.community_likes.size %>
          <%end%>
          </td>
          <td><%=c.user.name%></td>
  
        <%end%>
        </tr>
        </tbody>
        </table>
        </div><br>
        
      

  <div class="digg_pagination" align="center">
    <%= will_paginate @communities, :previous_lable => "이전", :next_lable => "다음", :container => false %>
  </div>
    </div>
