<div class="jaycontainer">
<h5 class="center boardtitle">대학알리GO</h5>
<hr>
<div class="row">
  <% @universities.each do |univ| %>
    <div class="col s2 m3 l2">
      <div class="card">
        <div class="card-image">
          <% if current_user.nil? %>
            <%= link_to "/universities/univ/#{univ.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
          <%else%>
            <% if current_user.universities.where(id: univ.id).take != nil  %>
              <%= link_to "/universities/univ_destroy/#{UniversityFollow.where(user: current_user, university: univ).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
            <% else %>
              <%= link_to "/universities/univ/#{univ.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
            <% end %>
          <% end %>
          <%= link_to univ.link_url do %>
            <%= image_tag "#{univ.img}", :size => '200x150' %>
            <div style="text-align:center; margin-top:10px; margin-bottom:10px; font-weight:bold;">
              <span><%= link_to univ.name, "#{university_path(univ)}" %></span>
            </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!--대학등록 버튼(로그인 했을 때만)-->
<% if user_signed_in?%>
  <% if current_user.admin==true %>
    <div align="right" style="margin-top:10px; margin-bottom:20px;">
      <%= link_to "대학등록", new_university_path,class: 'waves-effect waves-light btn blue' %>
    </div>
  <% end %>
<% end %>
    
  <!--옛날 Pagination
<div class="digg_pagination center" >
  <#%= will_paginate @universities, :previous_lable => "이전", :next_lable => "다음", :container => false %>
</div> -->

<!--Pagination -->
<div class="row" align="center">
  <div class="col s4 offset-s4">
    <div class="digg_pagination">
      <%= will_paginate @universities, :previous_lable => "이전", :next_lable => "다음", :container => false %>
    </div>
  </div>
</div>
</div>