<div class="row">
<% @universities.each do |univ| %>
  <div class="col s2 m3 l2">
    <div class="card">
      <div class="card-image">
        <% if current_user.universities.where(id: univ.id).take != nil  %>
          <%= link_to "/universities/univ_destroy/#{UnivFollow.where(user: current_user, university: univ).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
        <% else %>
          <%= link_to "/universities/univ/#{univ.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
        <% end %>
      <%= link_to university_path(univ) do %>
        <%= image_tag "#{univ.img}", :size => '200x150' %>
        <div style="text-align:center; margin-top:10px; margin-bottom:10px; font-weight:bold;">
          <span><%= link_to univ.name, "#{univ.link_url}" %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<!--페이지 넘기기-->
<center style="margin-top:50px;"><%= will_paginate @universities, :renderer => 'PaginationListLinkRenderer' %></center>
<div align="right" style="margin-top:10px; margin-bottom:20px;"><%= link_to "대학등록", new_university_path,class: 'waves-effect waves-light btn' %></div>
