<h5 class="center">대학알리GO</h5>

<div class="row">
<% @universities.each do |univ| %>
  <div class="col s2 m3 l2">
    <div class="card">
      <div class="card-image">
        <% if current_user.universities.where(id: univ.id).take != nil  %>
          <%= link_to "/universities/univ_destroy/#{UnivFollow.where(user: current_user, university: univ).take.id}" do %><i class="pull_star material-icons">star</i> <% end %>
        <% else %>
          <%= link_to "/universities/univ/#{univ.id}" do %> <i class="empty_star material-icons">star</i> <% end %>
        <% end %>
      <%= link_to univ.link_url do %>
        <%= image_tag "#{univ.img}", :size => '200x150' %>
        <div style="text-align:center; margin-top:10px; margin-bottom:10px; font-weight:bold;">
          <span><%= link_to univ.name, "#{university_path(univ)}" %></span>
        </div>
      </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<!--대학등록 버튼(로그인 했을 때만)-->
<% if !user_signed_in? %>
<% else %>
  <div align="right" style="margin-top:10px; margin-bottom:20px;">
    <%= link_to "대학등록", new_university_path,class: 'waves-effect waves-light btn blue' %>
  </div>
<% end %>

<!--페이지 넘기기-->
  <ul class="pagination" align="center">
  <%= will_paginate @universities, :renderer => 'PaginationListLinkRenderer' %>
  </ul>

