<div class="row">
<% @universities.each do |univ| %>
  <div class="col s3 m3">
    <div class="card">
      <div class="card-image">
        <%= image_tag "#{univ.img}" %>
        <span class="card-title"><%= univ.name %></span>
      </div>
      <div class="card-content">
        <p><%= univ.content %></p>
      </div>
      <div class="card-action">
        <%= link_to "홈페이지", "http://#{univ.link_url}" %>
      </div>
    </div>
  </div>
<% end %>
</div>
<%= link_to "대학등록", new_university_path %>
