<div align="right"><%= link_to "목록", {controller: "universities", action: "index"}, class: "waves-effect waves-light btn" %></div>
<div class="row">
  <div class="col s12">
    <ul class="collection">
      <li class="collection-item avatar">
        <%= image_tag "#{@university.img}", :class => "circle"%>
        <span class="title"><%= @university.name %></span>
        <p><%= @university.content %><br>
          입학처 바로가기: <%= link_to "#{@university.link_url}", @university.link_url %>
        </p>
        <!-- <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a> -->
      </li>
    </ul>
<!-- 덧글창 -->
    <ul class="collection">
      <li class="collection-item"><strong>댓글</strong>
      <% @university.comments.each do |comment| %>
        <li class="collection-item">
          <strong><%= comment.user.name %></strong><br>
                  <%= comment.content %>  
          <%if comment.updatable_by? current_user%>
          <div align="right"><%= link_to "수정", edit_comment_path(comment), class: 'waves-effect waves-light btn' %></div>        
          <%end%>
          <%if comment.deletable_by? current_user%>
          <div align="right"><%= link_to "삭제", comment_path(comment), method: :delete, data: { confirm: "로레알 삭제ㄱㄱ?" }, class: 'waves-effect waves-light btn' %></div>
      <%end%>
      <% end %>
      <%= render partial: '/comments/new', locals: { :comment => @university.comments.new, university: @university.id, belong: "university"} %>
        </li>
      
      </li>
    </ul>
  </div>
</div>
