<div class="row">
  <div class="col s12 m7">
        <%= image_tag "#{@university.img}" %>
        <span class="card-title"><%= @university.name %></span>
        <p><%= @university.content %></p>
        <a href="#"><%= @university.link_url %></a>
  </div>
</div>
<%= render partial: '/comments/new', locals: { :comment => @university.comments.new } %>
