<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>스투핏</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'reload' %>

    <!-- Favicons-->
    <link rel="icon" href="http://i.imgur.com/4eO07yP.png" sizes="32x32" data-turbolinks-track="reload">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="http://i.imgur.com/4eO07yP.png" data-turbolinks-track="reload">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4" data-turbolinks-track="reload">
    <meta name="msapplication-TileImage" content="http://i.imgur.com/4eO07yP.png" data-turbolinks-track="reload">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    
    <!--materialize js-->
    <script type="text/javascript" src="<%= asset_path "materialize.js"%>"></script>

    <link href="<%= asset_path "materialize.css" %>" type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload">
    <link href="<%= asset_path "style.css" %>"type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload">

    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="<%= asset_path "owl.carousel.css" %>"type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload">
    <link href="<%= asset_path "owl.theme.css" %>"type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload">
    <link href="<%= asset_path "owl.transitions.css" %>"type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload">
   
    <link href="<%= asset_path "perfect-scrollbar.css"%>" type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload" >
    <link href="<%= asset_path "chartist.min.css"%>"  type="text/css" rel="stylesheet" media="screen,projection"data-turbolinks-track="reload" >
<style>
  .navbar-color {

    background-color: #64b5f6;
}
</style>
  </head>

  <body >
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
      <div id="loader">
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <% devise = ["sessions","registrations"] %>

    <!-- //////////////////////////////////////////////////////////////////////////// -->
    <% unless devise.include?(controller.controller_name)   %>

      <!-- START HEADER -->
      <%= render partial: 'layouts/header_nav'%>
      
      <!-- END HEADER -->

      <!-- //////////////////////////////////////////////////////////////////////////// -->
      <!-- START MAIN -->
      <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">

          <!-- START LEFT SIDEBAR NAV-->
          <%= render partial: 'layouts/left_siderbar' %>
          <!-- END LEFT SIDEBAR NAV-->

          <!-- //////////////////////////////////////////////////////////////////////////// -->

          <!-- START CONTENT -->
          <section id="content">

          <!--breadcrumbs start-->

          <!--start container-->
          <div class="container">
            <div class="section">
            <% end %>
            <%= yield %>
            <% unless devise.include?(controller.controller_name)  %>

              <div class="divider"></div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>
          </div>
          <!--end container-->
          </section>
          <!-- END CONTENT -->
          <!-- //////////////////////////////////////////////////////////////////////////// -->
          <!-- START RIGHT SIDEBAR NAV-->
          <%= render partial: 'layouts/right_siderbar'%>
          <!-- LEFT RIGHT SIDEBAR NAV-->

        </div>
        <!-- END WRAPPER -->
        <!-- Floating Action Button -->
        <%= render partial: 'layouts/floating_action' %>
        <!-- Floating Action Button -->

      </div>
      <!-- END MAIN -->

      <!-- START FOOTER -->
      <%= render partial: 'layouts/footer' %>
      <!-- END FOOTER -->


    <% end %>

    <!-- ================================================
    Scripts
    ================================================ -->


    <!--prism-->
    <script type="text/javascript" src="<%= asset_path "prism.js" %>"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="<%= asset_path "perfect-scrollbar.min.js"%>"></script>

    <!-- chartist -->
    <!--  <script type="text/javascript" src="<%= asset_path "chartist.min.js"%>"></script>  -->

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="<%= asset_path "plugins.js" %>" ></script>

  </body>
</html>
