<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>스투핏</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' , 'data-turbolinks-track': 'loaded' %>

    <!-- Favicons-->
    <link rel="icon" href="assets/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="assets/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="assets/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->

    <link href="<%= asset_path "materialize.css" %>" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%= asset_path "style.css" %>"type="text/css" rel="stylesheet" media="screen,projection">


    <!-- INCLUDED PLUGIN CSS ON THIS PAGE -->
    <link href="<%= asset_path "perfect-scrollbar.css"%>" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="<%= asset_path "chartist.min.css"%>"  type="text/css" rel="stylesheet" media="screen,projection">
  </head>

<body>
  <!-- Start Page Loading -->
  <div id="loader-wrapper">
      <div id="loader">
      </div>
      <div class="loader-section section-left"></div>
      <div class="loader-section section-right"></div>
  </div>
  <!-- End Page Loading -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->

  <!-- START HEADER -->
  <header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color">
                <div class="nav-wrapper">
                    <ul class="left">
                      <li><h1 class="logo-wrapper"><a href="/" class="brand-logo darken-1"><%= image_tag "materialize-logo.png", alt: "materialize logo" %></a><span class="logo-text">Materialize</span></h1></li>
                    </ul>
                    <div class="header-search-wrapper hide-on-med-and-down">
                        <i class="mdi-action-search"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize"/>
                    </div>
                    <ul class="right hide-on-med-and-down">
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light translation-button"  data-activates="translation-dropdown"><%= image_tag "flag-icons/United-States.png", alt: "USA" %></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                        </li>
                        <li><a href="javascript:void(0);" class="waves-effect waves-block waves-light notification-button" data-activates="notifications-dropdown"><i class="mdi-social-notifications"><small class="notification-badge">5</small></i>
                        
                        </a>
                        </li>                        
                        <li><a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                        </li>
                    </ul>
                    <!-- translation-button -->
                    <ul id="translation-dropdown" class="dropdown-content">
                      <li>
                        <a href="#!"><%= image_tag "flag-icons/United-States.png", alt: "English" %> <span class="language-select">English</span></a>
                      </li>
                      <li>
                        <a href="#!"><%= image_tag "flag-icons/France.png", alt: "French" %> <span class="language-select">French</span></a>
                      </li>
                      <li>
                        <a href="#!"><%= image_tag "flag-icons/China.png", alt: "Chinese" %>  <span class="language-select">Chinese</span></a>
                      </li>
                      <li>
                        <a href="#!"><%= image_tag "flag-icons/Germany.png", alt: "German" %>  <span class="language-select">German</span></a>
                      </li>
                      
                    </ul>
                    <!-- notifications-dropdown -->
                    <ul id="notifications-dropdown" class="dropdown-content">
                      <li>
                        <h5>NOTIFICATIONS <span class="new badge">5</span></h5>
                      </li>
                      <li class="divider"></li>
                      <li>
                        <a href="#!"><i class="mdi-action-add-shopping-cart"></i> A new order has been placed!</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">2 hours ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-stars"></i> Completed the task</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">3 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-settings"></i> Settings updated</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">4 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-editor-insert-invitation"></i> Director meeting started</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">6 days ago</time>
                      </li>
                      <li>
                        <a href="#!"><i class="mdi-action-trending-up"></i> Generate monthly report</a>
                        <time class="media-meta" datetime="2015-06-12T20:50:48+08:00">1 week ago</time>
                      </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
  </header>
  <!-- END HEADER -->

  <!-- //////////////////////////////////////////////////////////////////////////// -->
    <!-- START MAIN -->
    <div id="main">
      <!-- START WRAPPER -->
      <div class="wrapper">

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
        <ul id="slide-out" class="side-nav fixed leftside-navigation">
          <li class="user-details cyan darken-2">
          <div class="row">
            <div class="col col s4 m4 l4">
              <%= image_tag "avatar.jpg", class: "circle responsive-img valign profile-image" %>
            </div>
            <div class="col col s8 m8 l8">
              <ul id="profile-dropdown" class="dropdown-content">
                <li><a href="#"><i class="mdi-action-face-unlock"></i> Profile</a>
                </li>
                <li><a href="#"><i class="mdi-action-settings"></i> Settings</a>
                </li>
                <li><a href="#"><i class="mdi-communication-live-help"></i> Help</a>
                </li>
                <li class="divider"></li>
                <li><a href="#"><i class="mdi-action-lock-outline"></i> Lock</a>
                </li>
                <li><a href="#"><i class="mdi-hardware-keyboard-tab"></i> Logout</a>
                </li>
              </ul>
              <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">John Doe<i class="mdi-navigation-arrow-drop-down right"></i></a>
              <p class="user-roal">student123@stufit.com</p>
            </div>
          </div>
          </li>
          <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-invert-colors"></i> 마이페이지</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="/activities">활동내역</a>
                </li>                                        
                <li><a href="/mock_tests">성적관리</a>
                </li>
                <li><a href="/schedules">캘린더</a>
                </li>
              </ul>
            </div>
            </li>
          <ul>

          <li class="li-hover"><div class="divider"></div></li>
          <li class="li-hover"><p class="ultra-small margin more-text">알리Go</p></li>
          <li class="bold"><a href="/universities" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> 대학알리Go</a>
          </li>
          <li class="bold"><a href="/major_stories" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> 전공알리Go</a>
          </li>
          <li class="bold"><a href="/events" class="waves-effect waves-cyan"><i class="mdi-editor-insert-invitation"></i> 대외알리Go</a>
          </li>


        </ul>
        <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only darken-2"><i class="mdi-navigation-menu" ></i></a>
        </aside>
        <!-- END LEFT SIDEBAR NAV-->

        <!-- //////////////////////////////////////////////////////////////////////////// -->

        <!-- START CONTENT -->
        <section id="content">

        <!--breadcrumbs start-->

        <!--start container-->
        <div class="container">
          <div class="section">
            <%= yield %>
          <div class="divider"></div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
          </div>
        </div>
        <!--end container-->
        </section>
        <!-- END CONTENT -->
        <!-- //////////////////////////////////////////////////////////////////////////// -->
        <!-- START RIGHT SIDEBAR NAV-->
        <aside id="right-sidebar-nav">
        <ul id="chat-out" class="side-nav rightside-navigation">
          <li class="li-hover">
          <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
          <div id="right-search" class="row">
            <form class="col s12">
              <div class="input-field">
                <i class="mdi-action-search prefix"></i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">Search</label>
              </div>
            </form>
          </div>
          </li>
          <li class="li-hover">
          <ul class="chat-collapsible" data-collapsible="expandable">
            <li>
            <div class="collapsible-header teal white-text active"><i class="mdi-social-whatshot"></i>Recent Activity</div>
            <div class="collapsible-body recent-activity">
              <div class="recent-activity-list chat-out-list row">
                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-add-shopping-cart"></i>
                </div>
                <div class="col s9 recent-activity-list-text">
                  <p>just now</p>
                  <p>Jim Doe Purchased new equipments for zonal office.</p>
                </div>
              </div>
              <div class="recent-activity-list chat-out-list row">
                <div class="col s3 recent-activity-list-icon"><i class="mdi-device-airplanemode-on"></i>
                </div>
                <div class="col s9 recent-activity-list-text">
                  <p>Yesterday</p>
                  <p>Your Next flight for USA will be on 15th August 2015.</p>
                </div>
              </div>
              <div class="recent-activity-list chat-out-list row">
                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                </div>
                <div class="col s9 recent-activity-list-text">
                  <p>5 Days Ago</p>
                  <p>Natalya Parker Send you a voice mail for next conference.</p>
                </div>
              </div>
              <div class="recent-activity-list chat-out-list row">
                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-store"></i>
                </div>
                <div class="col s9 recent-activity-list-text">
                  <p>Last Week</p>
                  <p>Jessy Jay open a new store at S.G Road.</p>
                </div>
              </div>
              <div class="recent-activity-list chat-out-list row">
                <div class="col s3 recent-activity-list-icon"><i class="mdi-action-settings-voice"></i>
                </div>
                <div class="col s9 recent-activity-list-text">
                  <p>5 Days Ago</p>
                  <p>Natalya Parker Send you a voice mail for next conference.</p>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="collapsible-header light-blue white-text active"><i class="mdi-editor-attach-money"></i>Sales Repoart</div>
            <div class="collapsible-body sales-repoart">
              <div class="sales-repoart-list  chat-out-list row">
                <div class="col s8">Target Salse</div>
                <div class="col s4"><span id="sales-line-1"></span>
                </div>
              </div>
              <div class="sales-repoart-list chat-out-list row">
                <div class="col s8">Payment Due</div>
                <div class="col s4"><span id="sales-bar-1"></span>
                </div>
              </div>
              <div class="sales-repoart-list chat-out-list row">
                <div class="col s8">Total Delivery</div>
                <div class="col s4"><span id="sales-line-2"></span>
                </div>
              </div>
              <div class="sales-repoart-list chat-out-list row">
                <div class="col s8">Total Progress</div>
                <div class="col s4"><span id="sales-bar-2"></span>
                </div>
              </div>
            </div>
            </li>
            <li>
            <div class="collapsible-header red white-text"><i class="mdi-action-stars"></i>Favorite Associates</div>
            <div class="collapsible-body favorite-associates">
              <div class="favorite-associate-list chat-out-list row">
                <div class="col s4">
                  <%= image_tag "avatar.jpg", class: "circle responsive-img online-user valign profile-image" %>
                </div>
                <div class="col s8">
                  <p>Eileen Sideways</p>
                  <p class="place">Los Angeles, CA</p>
                </div>
              </div>
              <div class="favorite-associate-list chat-out-list row">
                <div class="col s4">
                  <%= image_tag "avatar.jpg", class: "circle responsive-img online-user valign profile-image" %>
                </div>
                <div class="col s8">
                  <p>Zaham Sindil</p>
                  <p class="place">San Francisco, CA</p>
                </div>
              </div>
              <div class="favorite-associate-list chat-out-list row">
                <div class="col s4">
                  <%= image_tag "avatar.jpg", class: "circle responsive-img offline-user valign profile-image" %>
                </div>
                <div class="col s8">
                  <p>Renov Leongal</p>
                  <p class="place">Cebu City, Philippines</p>
                </div>
              </div>
              <div class="favorite-associate-list chat-out-list row">
                <div class="col s4">
                  <%= image_tag "avatar.jpg", class: "circle responsive-img online-user valign profile-image"%>
                </div>
                <div class="col s8">
                  <p>Weno Carasbong</p>
                  <p>Tokyo, Japan</p>
                </div>
              </div>
              <div class="favorite-associate-list chat-out-list row">
                <div class="col s4">
                  <%= image_tag "avatar.jpg", class: "circle responsive-img offline-user valign profile-image" %>
                </div>
                <div class="col s8">
                  <p>Nusja Nawancali</p>
                  <p class="place">Bangkok, Thailand</p>
                </div>
              </div>
            </div>
            </li>
          </ul>
          </li>
        </ul>
        </aside>
        <!-- LEFT RIGHT SIDEBAR NAV-->

      </div>
      <!-- END WRAPPER -->

    </div>
    <!-- END MAIN -->              

    
    
    <!-- START FOOTER -->
    <footer class="page-footer">
    <div class="footer-copyright">
      <div class="container">
        <span>Copyright © 2015 <a class="grey-text text-lighten-4" href="http://themeforest.net/user/geekslabs/portfolio?ref=geekslabs" target="_blank">GeeksLabs</a> All rights reserved.</span>
        <span class="right"> Design and Developed by <a class="grey-text text-lighten-4" href="http://geekslabs.com/">GeeksLabs</a></span>
      </div>
    </div>
    </footer>
    <!-- END FOOTER -->



    <!-- ================================================
    Scripts
    ================================================ -->

    <!--materialize js-->
    <script type="text/javascript" src="<%= asset_path "materialize.js"%>"></script>
    <!--prism-->
    <script type="text/javascript" src="<%= asset_path "prism.js" %>"></script>
    <!--scrollbar-->
    <script type="text/javascript" src="<%= asset_path "perfect-scrollbar.min.js"%>"></script>
    <!-- chartist -->
    <!--  <script type="text/javascript" src="<%= asset_path "chartist.min.js"%>"></script>  --> 

    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="<%= asset_path "plugins.js" %>"></script>
  </body>
</html>
