<!DOCTYPE html>
<html lang="ko">
  <head>
    <title>Stufit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <img style="height: 27px;" src="http://www.kosdaqca.or.kr/_PDS/Board/1/16447/Images/%EC%86%94%EB%9D%BC%EC%8B%9C%EC%95%84%20%EB%A1%9C%EA%B3%A0(%ED%8C%8C%EB%9E%91_%ED%88%AC%EB%AA%85).png">
        <span style="margin: 5px;" class="mdl-layout-title">Home</span>
        <div class="mdl-layout-spacer"></div>

        <a href="/">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" >
            <%= link_to home_index_path do %>
              <i class="material-icons">
                home
              </i>
            <% end %>
        </button></a>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
          <i class="material-icons">more_vert</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
          <li class="mdl-menu__item">About</li>
          <li class="mdl-menu__item">Contact</li>
          <li class="mdl-menu__item">Legal information</li>
        </ul>
      </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
        <img src="http://cfile2.uf.tistory.com/image/247D023455EE71460B2555" class="demo-avatar">

        <div class="demo-avatar-dropdown"> 
          <% if user_signed_in? %>
            <span><%=current_user.name%>님</span>
          <% else %>
            <span> 로그인 해주세요 </span>
          <% end %>
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_drop_down</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <% if user_signed_in? %>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><%= link_to '설정', my_page_index_path , method: 'get' %></li>
              <li class="mdl-menu__item"><%= link_to '로그아웃', destroy_user_session_path, method: 'delete' %></li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          <% else %>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item"><%= link_to '회원가입', new_user_registration_path %></li>
              <li class="mdl-menu__item"><%= link_to '로그인', new_user_session_path %></li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          <% end %>
        </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href="/my_page/index"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">perm_identity</i>마이서비스</a>
        <a class="mdl-navigation__link" href="/events"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">inbox</i>행사</a>
        <a class="mdl-navigation__link" href="/major_stories"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">forum</i>선배</a>
        <a class="mdl-navigation__link" href="/universities"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>대학</a>
        </nav>
      </div>

      <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" style="min-height:500px;">
          <%= yield %>
        </div>
      </div>
      </main>

    </body>
  </html>
